@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
	box-sizing: border-box;
	font-family: 'Poppins';
}

body {
	padding: 0;
	margin: 0;
}

.services-container {
	min-height: 50vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 3rem;

    @media (max-width: 1080px) {
      min-height: 100vh;
      min-height: 70vh;
    }

    h2 {
    	text-align: center;
    }
}

.services-div {
	max-width: 100%;
	display: flex;
	justify-content: space-around;

	span {
		display: block;
		max-width: 45ch;
		margin:  0 3rem 0 3rem;
		text-align: justify;
	}

	img {
		max-width: 250px;
		border-radius: 1rem;
	}

    @media (max-width: 1080px) {
      flex-direction: column;
      align-items: center;
      font-size: .75rem;

      img {
      	margin-top: 1rem;
      }

			span {
				max-width: 45ch;
				margin:  0 .5rem 0 .5rem;
				text-align: justify;
			}
    }
}

.text p {
	max-width: 60ch;
	text-align: justify;
	margin: 0 auto;
	margin-top: 1rem;
}

h2, h3 {
	text-align: center;
}

.cards {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 3rem;

    @media (max-width: 1080px) {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
}

.text-image-about {
	display: flex;
	justify-content: center;

    @media (max-width: 1080px) {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
}

.text-image-about img {
	max-width: 500px;
	margin-left: 3rem;
}